*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Tahoma, Verdana, sans-serif;
}

body {
  background-color: hsl(60deg, 100%, 85%);
}

h1, h2 {
  font-family: cursive;
  color: hsl(220deg, 90%, 30%);
  margin: 16px 0;
}

ul li,
ol li,
p, a {
  color: hsl(220deg, 15%, 15%);
  font-size: 18px;
  line-height: 1.75;
}

ul li {
  list-style-type: none;
}

.center {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.container li {
  text-align: left;
}

.recipe-container {
  margin: 16px 0;
}

.recipe-container div {
  display: inline-block;
  max-width: 500px;
  padding: 16px 32px;
  vertical-align: top;
}

.foods {
  background-color: hsl(60deg, 100%, 90%);
  margin: 16px 0;
}

.foods li {
  display: inline-block;
  padding: 16px;
}